[Desktop Entry]
Name=SyncThingy
Exec=SyncThingy
GenericName=File synchronization
Comment=SyncThingy = Syncthing + simple tray indicator
Icon=com.github.zocker_160.SyncThingy
StartupNotify=false
Terminal=false
Type=Application
Keywords=synchronization;interface;
Categories=Network;FileTransfer;P2P
